
.dynamicDiv
{

    background-color:White;
    position:absolute;
    z-index:26000;  
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-bottom-color: #A8A8A8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #A8A8A8;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #A8A8A8;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #A8A8A8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: #4F4F4F;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 10px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;



}

#tooltip
{
    position:absolute;
    z-index:26000;
    border:2px solid #FF9966;
    font-size:12px;
    background-color:#FFCC00;
    color:#700000;

}


.divheader
{
    background-color:#E3E3E3;
    text-align:center;
    font-size:20px;
    font-weight:bolder;
    color:#4F4F4F;
    border:1px solid white;
}

#toprow
{
    color:4f4f4f;
    font-weight:bold;
    font-size:80%;
}

.tt
{

    font-size:8px;
}

.btns
{
    margin:0 auto;
    width:26px;
    font-size:120%;
    text-align:center;
    display:block;
    background-color:white;
    color:#5f83b9;
    font-weight:bold;
}

.btns:hover
{
    background-color:#5F83B9;
    color:White;
}

.btnempty
{
    background-color:White;
    display:none;
}

.tt:hover
{
    background-color:Yellow;
    cursor:pointer;
}

.lists
{
    margin-left:3px;
    color:#4f4f4f;
    font-family:Visual Geez Unicode;
}
.txt
{
    z-index:1;
}
.close
{
    width:10px;
    height:13px;
    margin-left:225px;
    margin-top:5px;
    border:1px solid black;
    background-color:Red;

}

#div3
{

    background-color:#E3E3E3;
    border:1px solid white;
     font-size: 11px;
}
#btn7,#btn14,#btn21,#btn28,#btn35{color:#63B8FF;}
#btn7:hover{background-color:#5F83B9;color:White;}
#btn14:hover{background-color:#5F83B9;color:White;}
#btn21:hover{background-color:#5F83B9;color:White;}
#btn28:hover{background-color:#5F83B9;color:White;}
#btn35:hover{background-color:#5F83B9;color:White;}

#toolTip{
    width:80px;
    height:25px;
    border:solid 2px navy;
    background-color:White;
    font-size:11px;
    font-family:verdan;
    color:#000;
    display:block;
    position:absolute;
    z-index:26000;
}