
<div style="margin-left: 1400px; height: 40px; width: 100px; ;  background-color: rgba(171, 198, 221, 0.959); " class="titleb "><button class="btn btn-link" (click)="navigatinLst()"  type="button" >Search </button> </div>
 
<form style="background-color: rgba(206, 215, 223, 0.959);  width: auto; margin-left: 15px; margin-right: auto;" class="row g-3">
           
 <!-- <div *ngFor="let ItemServices of itemSrvices">
               {{ ItemServices.code }} </div> -->

               <div class="text-right"> 
                <a class="btn btn-primary" routerLink="/ItemServiceList">Product List</a>
                </div> 

<div  >  
    <div >    <label style="margin-left: 800px; width: 100px;" class="control-label  titleb"></label> </div>
<div  class="title"><h2>Product Registration </h2></div>
</div>

 
  <!-- <form #addForm="ngForm" (ngSubmit)="onAddItemService(addForm)"   class="row g-3"> -->
   <form (ngSubmit)="saveItemServiceData()"   class="row g-3">
   
    <div class="row g-3">
      <label for="itemServiceNameId"  class="control-label col-sm-3" style="width: 150px;  text-align: right;">Product Name</label>
      <div class="col-sm">
        <input type="text" [(ngModel)] ="itemSrvices1.itemServiceName" id="itemServiceNameId" name="itemServiceName" required class="form-control"  placeholder="Enter Product name ">
      </div>
      <label for="codeid"   class="control-label col-sm-2" style="width: 150px; text-align: right;"> Product Code</label>
    <div class="col-sm">
      <input type="text" id="codeid" [(ngModel)] ="itemSrvices1.code"  name="code" class="form-control" required placeholder="enter Product code ">
    </div>
    <label for="categoryId1" class="control-label col-sm-2" style="width: 150px;  text-align: right;">Category </label>
    <div class="col-sm">
      <select class="form-select form-select-lg "  id="categoryId1" [(ngModel)] ="itemSrvices1.categoryId"   name="categoryId" >
       
        <option value="" disabled>Choose a Category</option>
        <!-- <option *ngFor="let c of categorys" [ngValue]="c.id">{{ c.categoryName}}</option>   -->
        <option *ngFor="let c of categorys" [ngValue]="c">{{ c.categoryName}}</option>  
      </select>    
      </div>  
    </div>
  
    <div class="row g-3">
      <label for="uomId" class="control-label col-sm-2" style="width: 150px; text-align: right;">Supplier</label>
      <div class="col-sm">
        <select class="form-select" id="uomId"  [(ngModel)] ="itemSrvices1.uom"  name="uom">
          <option selected>--- select one ---</option>
          <option value="uom 1">uom 1</option>
          <option value="uom 2">uom 2</option>
          <option value="uom 3">uom 3</option>
        </select> 
        </div>
        <label for="descriptionId"  class="control-label col-sm-2" style="width: 150px;  text-align: right;">Description</label>
        <div class="col-sm">
         <textarea type="text" id="descriptionId" [(ngModel)] ="itemSrvices1.description" name="description" class="form-control"   placeholder="enter description."> </textarea>
          
        </div>
        <label for="taxId"  class="control-label col-sm-2" style="width: 150px; text-align: right; ">Tax</label>
        <div class="col-sm">
         <select class="form-select" id="taxId" [(ngModel)] ="itemSrvices1.tax"  name="tax">
           <option value="0.15">15 %</option>
           <option value="0.1">10 %</option>
           <option value="0.02">2 %</option>
         </select>        
          </div>
    </div>
       
        <div class="row g-3">
         <label for="quantityid" class="control-label col-sm-2" style="width: 150px; text-align: right;">Quantity </label>
         <div class="col-sm">
           <input type="text" id="quantityid" [(ngModel)] ="itemSrvices1.quantity"  name="quantity" class="form-control" placeholder="enter quantity" >
      
           </div>
           <label for="purchasedPriceid"  class="control-label col-sm-2" style="width: 150px; text-align: right; ">Purchased Price</label>
           <div class="col-sm">
             <input type="text" id="purchasedPriceid" [(ngModel)] ="itemSrvices1.purchasedPrice"   name="purchasedPrice" class="form-control" placeholder="purchasedPrice" >
           </div>
           <label for="sellingUnitPriceid"  class="control-label col-sm-2" style="width: 150px; text-align: right; ">Selling Unit Price </label>
           <div class="col-sm">
             <input type="text" id="sellingUnitPriceid" [(ngModel)] ="itemSrvices1.sellingUnitPrice"   name="sellingUnitPrice" class="form-control" placeholder="enter selling Unit Price" >
             </div>
       </div>
<br> <br>
<div class="col-12">
  <br> <br>
<button style="margin-left: 700px; width: 100px;"  type="submit" class="btn btn-success">Save</button>
<br> <br>
</div>
</form>
<h1 *ngIf="registerSucess"> Register Success :D </h1>
</form>


































