 <!-- <form class="container" [formGroup]="invoiceform" (ngSubmit)="SaveInvoice()"> -->
    <form  [formGroup]="invoiceform" (ngSubmit)="SaveInvoice()" style="background-color: rgba(245, 246, 247, 0.959);  width: auto; margin-left: 15px; margin-right: 10px;" class="row g-1"> 
        <div style="padding-left: 50px; padding-right: 50px; ">
    <!-- <div class="card" style="width: 1200px"> -->
        
        <div class="text-right"> 
            <a class="btn btn-primary" routerLink="/salesInvoiceList">Search Invoice</a>
            </div>  
            
        <!-- <div style="margin-left: 1050px;" class="card-header">
            <a  class="btn btn-primary" routerLink="/salesInvoiceList">Search Invoice</a>
        </div> -->
        <h3>{{pagetitle}}</h3>
       
        <div class="card-body">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Invoice No</label>
                        <span class="text-danger">*</span>
                        <input formControlName="invoiceNo" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Payment Type</label>
                        <span class="text-danger">*</span>                     

                            <select formControlName="paymentType"  class="form-control">
                                <option value="" disabled>select payment type</option>
                                <option value="Cash">Cash</option>
                                <option value="Credit">Credit</option>
                            </select>
                     
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <span class="text-danger">*</span>
                        <select formControlName="customerId" (change)="customerchange()" class="form-control">
                            <option *ngFor="let customers of mastercustomer" [value]="customers.id">
                                {{customers.customerName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>tinNo</label>
                        <input formControlName="tinNo" class="form-control"/>
                    </div>
                </div>

           
             

            </div>
            <br>

            <br>

            <div class="row">
                <div class="col-lg-12">
                    <table    class="table table-striped table-bordered table-sm row-border hover  table-hover" formArrayName="listOfsalesInvoceDetail">

                        <thead class="table-dark">
                            <tr>
                                <td style="width: auto;">Sl.No</td>
                              
                                <td style="width: 18%">ItemService Name</td>
                                <td style="width: 18%">Code</td>
                                 <td style="width: auto">Uom</td>
                                <td style="width: auto;">Qty</td>
                                <th style="width: auto;">Tax</th>                             
                                <th style="width: 13%">Selling Unit Price</th>
                                <td style="width: auto;">Total Tax</td>
                                <td style="width: auto;">Total Price</td>
                                <td style="width: auto;">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invproducts.controls; let i=index" [formGroupName]="i">
                                <td>{{i+1}}</td>
                                <!-- <td>
                                    <select class="form-control" (change)="productchange(i)" formControlName="itemServiceId">
                                        <option *ngFor="let item2 of masterproduct " [ngValue]="item2"> {{item2.itemServiceName}}    </option>
                                    </select>
                                </td> -->
                                <td>
                                    <select class="form-control" (change)="productchange(i)" formControlName="itemServiceName">
                                        <option *ngFor="let item2 of masterproduct " [ngValue]="item2.itemServiceName"> {{item2.itemServiceName}}    </option>
                                    </select>
                                </td> 
                                 <td>
                                    <input class="form-control" formControlName="code" />
                                </td>
                              
                                   <td>
                                    <input class="form-control" formControlName="uom" />
                                </td>
                                <td> 
                                    <input class="form-control" (change)="Itemcalculation(i)" formControlName="quantity" />
                                </td>
                                <td>
                                    <input class="form-control" formControlName="tax" />
                                </td>                              
                                <td>
                                    <input class="form-control" (change)="Itemcalculation(i)" formControlName="sellingUnitPrice" />
                                </td>
                                <td>
                                    <input class="form-control" formControlName="taxTotal" />
                                </td>
                                <td>
                                    <input class="form-control" formControlName="total" />
                                </td>
                                
                                <td>
                                    <a (click)="Removeproduct(i)" class="btn btn-danger">Remove</a>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <a (click)="addnewproduct()" class="btn btn-success">[+]</a>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary Total</label>
                        <input formControlName="totalPrice" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary Tax</label>
                        <input formControlName="totalTax" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Summary NetTotal</label>
                        <input formControlName="netTotalPrice" class="form-control">
                    </div>
                </div>
             
                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-success" type="submit">Save</button> | 
                    <a class="btn btn-danger" routerLink="/salesInvoiceList">Back</a>
                </div>

            </div>


        </div>

    </div>
</form> 






